{% extends 'music/base_visitor.html' %}
{% load socialaccount %}

{% block title %}Login{% endblock %}
{% block login_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

<div id="calendar-container">
    <div class="row">
        <div class="col-md-12 col-xs-offset-0">
            <div class="panel panel-default">

                <div id="calendar-header">
                    <span id="calendar-month-year"></span>
                </div>
                <div id="calendar-dates"></div>
            </div>
    </div>
    </div>

</div>
    <script type="text/javascript">
        window.onload = function () {
            var d = new Date();
            var month_name = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            var month = d.getMonth();   //0-11
            var year = d.getFullYear(); //2014
            var first_date = month_name[month] + " " + 1 + " " + year;
            //September 1 2014
            var tmp = new Date(first_date).toDateString();
            //Mon Sep 01 2014 ...
            var first_day = tmp.substring(0, 3);    //Mon
            var day_name = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'];
            var day_no = day_name.indexOf(first_day);   //1
            var days = new Date(year, month + 1, 0).getDate();    //30
            //Tue Sep 30 2014 ...
            var calendar = get_calendar(day_no, days);
            document.getElementById("calendar-month-year").innerHTML = month_name[month] + " " + year;
            document.getElementById("calendar-dates").appendChild(calendar);
        }

        function get_calendar(day_no, days) {
            var todaysDate = new Date().getDate();
            var table = document.createElement('table');
            var tr = document.createElement('tr');

            //row for the day letters
            for (var c = 0; c <= 6; c++) {
                var th = document.createElement('th');
                th.innerHTML = "MTWTFSS"[c];
                tr.appendChild(th);
            }
            table.appendChild(tr);
            //create 2nd row
            tr = document.createElement('tr');
            var c;
            for (c = 0; c <= 6; c++) {
                if (c == day_no) {
                    break;
                }
                var td = document.createElement('td');
                td.innerHTML = "";
                tr.appendChild(td);
            }
            var count = 1;
            for (; c <= 6; c++) {
                var td = document.createElement('td');
                if (count == todaysDate) {
                    td.className = 'today';
                }
                td.innerHTML = count;
                count++;
                tr.appendChild(td);
            }
            table.appendChild(tr);
            //rest of the date rows
            for (var r = 3; r <= 7; r++) {
                tr = document.createElement('tr');
                for (var c = 0; c <= 6; c++) {
                    if (count > days) {
                        table.appendChild(tr);
                        return table;
                    }
                    var td = document.createElement('td');
                    if (count == todaysDate) {
                        td.className = 'today';
                    }
                    td.innerHTML = count;
                    count++;
                    tr.appendChild(td);
                }
                table.appendChild(tr);
            }
            return table;
        }
    </script>
    <div class="container" style="margin-top:40px">
        <div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong> Sign in to continue</strong>
					</div>
					<div class="panel-body">
                        <form name="login" action="{% url 'music:login_user'%}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset>
								<div class="row">
									<div class="center-block">
										<img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
									</div>
                                </div>
                                <div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group">
											<div class="input-group">
												<span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span>
												<input class="form-control" placeholder="username" name="username" type="text" autofocus>
											</div>
                                        </div>
                            <!--<div class="form-group">
                                <label for="id_username">Username</label>
                                <input type="text" class="form-control" aria-describedby="emailHelp" id="id_username" name="username" placeholder="Enter User Name">
                            </div>-->
                            <!--<div class="form-group">
                                <label class="control-label col-sm-2" for="id_username">
                                    Username:
                                </label>
                                <input id="id_username" maxlength="30" name="username" type="text">
                            </div> -->
                             <div class="form-group">
                                 <div class="input-group">
                                     <span class="input-group-addon">
                                         <i class="glyphicon glyphicon-lock"></i>
                                     </span>
                                     <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                 </div>
                             </div>
                            <!--<div class="form-group">
                                <label for="id_password">Password</label>
                                <input class="form-control" id="id_password" name="password" type="password" aria-describedby="emailHelp" placeholder="Enter Password">
                            </div> -->
                            <!--<div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">
                                    Password:
                                </label>
                                <input id="id_password" maxlength="30" name="password" type="password">
                            </div> -->

                            <!-- <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div> -->
                            <div class="col-md-12 text-center mb-3">
                            <button type="submit" class="btn btn-success">
                                <span class="fas fa-sign-in-alt"></span>
                                Sign in
                            </button>
                            </div>
                        </div>
								</div>
							</fieldset>
						</form>
					</div>
                    <div class="panel-footer">
                        Don't have an account? <a href="{% url 'music:register' %}" onclick="">Click here</a> to register.
                    </div>
                </div>
                <!--<div class="row">
                     <div class="col-xs-2">
                        <a title="Github"  href="{% url 'social:begin' 'github' %}" class="btn btn-social btn-github">
                            <span class="class="fa fa-github aria-hidden="true"></span>
                            Sign in with Github
                        </a>
                     </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

