@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url("./poppins-regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url("./poppins-bold.ttf") format('truetype');
}