<<<<<<< HEAD
body {
    background: #fff url("../images/download.jpg");
    background-color: #fff;
}

=======
body {
    background: #fff url("../images/download.jpg");
}

>>>>>>> 3c40d1c92f2fe860cd260a8d8e6510aef9f8ee90
