<<<<<<< HEAD
<<<<<<< Updated upstream
body {
    background: #fff url("../images/download.jpg");
    background-color: #fff;
}

=======
=======
>>>>>>> Stashed changes
body {
    background: #fff url("../images/download.jpg");
    background-color: #fff;
}

<<<<<<< Updated upstream
=======
=======
body {
    background: #fff url("../images/download.jpg");
}

>>>>>>> Stashed changes
>>>>>>> 3c40d1c92f2fe860cd260a8d8e6510aef9f8ee90
